body,
html {
  width: 100%;
  background: #F8F8F8;
}
@font-face {
  font-family: 'Source Sans Pro Regular';
  src: local('Source Sans Pro'), url("../fonts/SourceSansPro-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro Light';
  src: local('Source Sans Pro Light'), url("../fonts/SourceSansPro-Light.ttf") format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro SemiBold';
  src: local('Source Sans Pro SemiBold'), url("../fonts/SourceSansPro-SemiBold.ttf") format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro Bold';
  src: local('Source Sans Pro Bold'), url("../fonts/SourceSansPro-Bold.ttf") format('truetype');
}

body {
  font-family: 'Source Sans Pro Regular';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

h1 {
  font-family: 'Source Sans Pro Light';
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 48px !important;
  line-height: 60px !important;
}

.row.row-centered {
  justify-content: center;
}

.card {
  max-width: 400px;
  height: 336px;

}

.card:hover {
  box-shadow: 1px 1px 6px #e6e6e6, 1px 1px 6px #e6e6e6 !important;
  cursor: pointer !important;
}

.card-title {
  font-family: 'Source Sans Pro Bold';
  font-size: 19px;
  line-height: 22px;
  text-transform: uppercase;
}

.card-title-byline {
  font-size: 16px;
  line-height: 20px;
  font-family: 'Source Sans Pro Light';
  text-transform: none;
  text-align: right;
}

.card-title-byline span {
  color: #AF1E1E;
}

.card:hover .card-title-byline {
  display: block !important;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text {
  font-family: 'Source Sans Pro Light';
  font-size: 16px;
  line-height: 20px;
}

.card .edit-icon {
  position: absolute;
  top: 18px;
  right: 23px;
}

.card:hover .edit-icon {
  display: block !important;
}

.card img.rounded-circle {
  max-width: 168px;
  width: 168px;
  height: 168px;
  border-radius: 90%/100%;
  background-size: cover;
}

button.big-button {
  background: #FFFFFF;
  border: 4px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  text-transform: uppercase;
  font-family: 'Source Sans Pro SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #000 !important;
  width: 240px;
}
@media only screen and (max-width: 1100px) {
  button.big-button {
    padding: 8px 32px !important;
    width: auto !important;
  }
}

button.big-button:hover {
  border: 4px solid rgba(0, 0, 0, 0.4) !important;
}

button.big-button:focus {
  border: 4px solid rgba(0, 0, 0, 0.5) !important;
}

input.form-control {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-family: 'Source Sans Pro Regular';
  font-weight: 300;
  height: 64px;
  font-size: 24px;
  line-height: 30px;
}

.form-label {
  font-family: 'Source Sans Pro SemiBold';
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 5px;
}

.form-group {
  margin-bottom: 1.5em;
}

.modal-content {
  background-color: #F8F8F8;
}

.modal-content h2 {
  font-family: 'Source Sans Pro Light';
  font-weight: 600;
}
